name: "QF-SOLOCHAIN: Manual Build and Publish Docker"

run-name: Manual Build and Publish Docker - ${{ github.sha }}

on:
  workflow_dispatch:
    inputs:
      ref:
        description: "Git branch"
        required: false
        default: 'main'

jobs:
  build_docker:
    name: Build and Publish Docker Image
    runs-on: [self-hosted, Linux, X64]
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6
        with:
          ref: ${{inputs.ref}}

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and Tag Docker Image
        env:
          DOCKER_BUILDKIT: 1
        run: |
          docker build --no-cache -f docker/Dockerfile.x86_64_testing -t qf-solochain-complete:${{ github.sha }} .
          docker tag qf-solochain-complete:${{ github.sha }} theqfnetwork/qf-solochain-complete:${{ github.sha }}

      - name: Push Docker Image to Docker Hub (signed)
        env:
          DOCKER_CONTENT_TRUST: "1"
          DOCKER_CONTENT_TRUST_ROOT_PASSPHRASE: ${{ secrets.DCT_ROOT_PASSPHRASE }}
          DOCKER_CONTENT_TRUST_REPOSITORY_PASSPHRASE: ${{ secrets.DCT_REPO_PASSPHRASE }}
        run: |
          docker push theqfnetwork/qf-solochain-complete:${{ github.sha }}