name: "QF-SOLOCHAIN: Manual Build and Publish Docker"

run-name: Manual Build and Publish Docker - ${{ github.sha }}

on:
  workflow_dispatch:
    inputs:
      ref:
        description: "Git branch"
        required: false
        default: 'main'

jobs:
  build_container:
    name: Build and Publish Container Image
    runs-on: [qf-runner-pool]
    container:
      image: quay.io/buildah/stable
      options: --privileged
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6
        with:
          ref: ${{inputs.ref}}

      - name: Build and Push
        run: |
          buildah build -f docker/Dockerfile.x86_64_testing -t qf-solochain-complete:${{ github.sha }} .
          buildah login -u ${{ secrets.DOCKERHUB_USERNAME }} -p ${{ secrets.DOCKERHUB_TOKEN }} docker.io
          buildah push qf-solochain-complete:${{ github.sha }} docker://docker.io/theqfnetwork/qf-solochain-complete:${{ github.sha }}
