name: Manual Build a Test Version

on:
  workflow_dispatch:
    inputs:
      ref:
        description: "Git branch"
        required: false
        default: 'main'

jobs:
  build_container:
    name: Build and Publish Container Image
    runs-on: qf-runner-pool
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6
        with:
          ref: ${{inputs.ref}}

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and Push
        run: |
          IMAGE_TAG="theqfnetwork/qf-solochain-complete:${{ github.sha }}"
          
          docker build \
          --no-cache \
          --build-arg QF_REF=${{ inputs.ref }} \
          -f docker/Dockerfile.x86_64_testing \
          -t $IMAGE_TAG \
          .
          
          docker push $IMAGE_TAG
          
          # Result
          DIGEST=$(docker inspect --format='{{index .RepoDigests 0}}' $IMAGE_TAG)

          echo "## :white_check_mark: Build Successful" >> $GITHUB_STEP_SUMMARY
          echo "" >> $GITHUB_STEP_SUMMARY
          echo "**Image:** \`$IMAGE_TAG\`" >> $GITHUB_STEP_SUMMARY
          echo "**Digest:** \`$DIGEST\`" >> $GITHUB_STEP_SUMMARY
          echo "" >> $GITHUB_STEP_SUMMARY
          echo "### Run Command" >> $GITHUB_STEP_SUMMARY
          echo "\`\`\`bash" >> $GITHUB_STEP_SUMMARY
          echo "docker run $DIGEST" >> $GITHUB_STEP_SUMMARY
          echo "\`\`\`" >> $GITHUB_STEP_SUMMARY