name: "On-demand-sender"

on:
  workflow_dispatch:

jobs:
  build_docker:
    name: Build and Publish Docker Image
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and Tag Docker Image
        run: |
          cd parachain/on-demand-sender
          docker build --build-arg NODE_VERSION=$(cat .nvmrc) -f Dockerfile -t theqfnetwork/on-demand-sender:${{ github.sha }} .
          docker tag theqfnetwork/on-demand-sender:${{ github.sha }} theqfnetwork/on-demand-sender:latest

      - name: Push Docker Image to Docker Hub (signed)
        env:
          DOCKER_CONTENT_TRUST: "1"
          DOCKER_CONTENT_TRUST_ROOT_PASSPHRASE: ${{ secrets.DCT_ROOT_PASSPHRASE }}
          DOCKER_CONTENT_TRUST_REPOSITORY_PASSPHRASE: ${{ secrets.DCT_REPO_PASSPHRASE }}
        run: |
          docker push theqfnetwork/on-demand-sender:${{ github.sha }}
          docker push theqfnetwork/on-demand-sender:latest
